h1{
    color:green;
}

ul{
    width:100%;
    height:50px;
    background:rgb(100, 150, 255);
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul li{
    float: left;
    margin-right: 50px;
}

ul li a{
    font-size: 50px;
    color:rgb(255,255,255);
    font-weight: bold;
    text-decoration: none;
}

div{
    border: 4px;
    float: left;
    margin-right: 50px;
    width: 45px;
    height: 45px;
    background: rgb(255,155,155)
}