h1{
    color: blue;
}

ul{
    width:650px;
    height:30px;
    background:rgb(23, 24, 23);
    list-style: none;
    padding-top: 15px;
}

ul li{
    float: left;
    margin-right: 10px;
}

ul li a{
    font-size: 12px;
    color: rgb(255,255,255);
    font-weight: bold;
    text-decoration: none;

}